<h3>This is Niteco employees list using Portlet API and Velocity</h3>

<form action="$renderResponse.createActionURL()" method="POST">
	#if ($employees)
	<table>
		<tr>
			<td>Id</td>
			<td>Name</td>
			<td>Email</td>
			<td>Team</td>
			<td>Role</td>
			<td>Salary</td>
			<td>Actions</td>
		</tr>
		#foreach ($employee in $employees)
		<tr>
			<td>$employee.id</td>
			<td>$employee.name</td>
			<td>$employee.email</td>
			<td>$employee.team</td>
			<td>$employee.role</td>
			<td>$employee.salary</td>
			<td>
				<button type="submit" name="edit" value="$employee.id">Edit</button>
				<button type="submit" name="delete" value="$employee.id">Delete</button>
			</td>
		</tr>
		#end
	#end

	<button type="submit" name="action" value="addPage">Add employee</button>
	##<button type="submit" name="action" value="editPage">Edit</button>
</form>
